.button {
    background-color: #ece3e3;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
  }
  
  .button:hover {
    background: none;
    border: 1px solid blue;
    color: blue;
  }
  